ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    li {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-left: 400px;
        display: flex;
        flex-direction: row;
        .nameUser {
            margin: 0;
            margin-right: 10px;
            width: auto;
            font-weight: bold;
        }
    }
}